<header>
  <nav class="navbar fixed-top bg-primary">
    <div class="row colrow">
      <div class="col-sm-4 container-fluid d-none d-sm-block">
        <p class="navbar-text float-left">
          <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page" class="navbar-link text-white">
            <span class="fas fa-chevron-left fontawsome_icon top-left">
            </span>
          </a>
          <a class="text-white text-bold" routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page">
            Pages
          </a>
        </p>
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/new" class="navbar-link navbar-text float-right text-white">
          <span class="fas fa-plus fontawsome_icon top-right">
          </span>
        </a>
      </div>
      <div class="col-sm-8 container-fluid">
        <p class="navbar-text float-left">
          <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page" class="navbar-link text-white d-inline d-sm-none d-md-none d-lg-none">
            <span class="fas fa-chevron-left fontawsome_icon top-left">
            </span>
          </a>
          <a class="text-white text-bold" routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{currPage.pageId}}/edit">
            Edit Page
          </a>
        </p>
        <a (click)="updatePage()" class="navbar-link navbar-text float-right text-white check-icon">
          <span class="fas fa-check fontawsome_icon top-right">
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="container-fluid">
    <div class="row colrow">
      <div class="col-sm-4 d-none d-sm-block">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let page of pages">
            <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget">{{page.name}}
            </a>
            <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/edit">
          <span class="fas fa-cog fontawsome_icon main-icon float-right">
          </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-8 right-form">
        <div class="form-group">
          <label for="page-name">Name</label>
          <input type="text" class="form-control" id="page-name" placeholder="{{currPage.name}}" [(ngModel)]="currPage.name">
        </div>
        <div class="form-group">
          <label for="page-title">Title</label>
          <textarea id="page-title" class="form-control" rows="5" placeholder="{{currPage.description}}" [(ngModel)]="currPage.description"></textarea>
        </div>
        <div class="form-group">
          <a class="btn btn-danger  btn-block" (click)="deletePage()">Delete</a>
        </div>
      </div>
    </div>

  </div>
</main>
<app-page-footer [uid]="user.uid"></app-page-footer>

