<nav class="navbar fixed-top bg-primary">
  <div class="container-fluid">
    <div class="navbar-brand navbar-light">
      <a routerLink="../../" class="float-left text-white"><i class="fas fa-chevron-left"></i></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="./" class="text-white">
        Pages
      </a>
    </div>
    <a [routerLink]="['./', 'new']" class="text-white">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</nav>

<div class="container">
  <div class="form-control" *ngFor="let page of pages">
    <a [routerLink]="['./', page._id, 'widget']" class="text-blue">{{ page.name }}</a>
    <a [routerLink]="['./', page._id]" class="text-blue float-right">
      <i class="fas fa-cog"></i>
    </a>
  </div>
</div>

<nav class="navbar fixed-bottom bg-primary">
  <div class="container-fluid">
    <div class="ml-auto">
      <a [routerLink]="['/user', userId]" class="text-white float-right">
        <i class="fas fa-user"></i>
      </a>
    </div>
  </div>
</nav>
