<nav class="navbar navbar-default fixed-top bg-primary">
  <div class="container-fluid">
    <div class="navbar-header navbar-dark">
      <a class="navbar-brand text-white-bold" routerLink="./">Profile</a>
    </div>
    <div class="ml-auto">
      <a (click)="onUpdateUser()" style="cursor:pointer;" class="float-right text-white">
        <i class="fas fa-check"></i>
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label>Username</label>
      <input
        name="username"
        type="text"
        class="form-control"
        placeholder="{{ user.username }}"
        [(ngModel)]="user.username">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        name="email"
        type="email"
        class="form-control"
        placeholder="{{ user.email }}"
        [(ngModel)]="user.email">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input
        name="first-name"
        type="text"
        class="form-control"
        placeholder="{{ user.firstName }}"
        [(ngModel)]="user.firstName">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input
        name="last-name"
        type="text"
        class="form-control"
        placeholder="{{ user.lastName }}"
        [(ngModel)]="user.lastName">
    </div>
  </form>
  <a class="btn btn-primary btn-block" routerLink="./website">Websites</a>
  <a class="btn btn-danger btn-block" routerLink="/login">Logout</a>
</div>

<nav class="navbar fixed-bottom bg-primary">
  <div class="container-fluid">
    <div class="ml-auto">
      <a routerLink="./" class="text-white float-right">
        <i class="fas fa-user"></i>
      </a>
    </div>
  </div>
</nav>
