<nav class="navbar fixed-top bg-primary">
  <div class="container-fluid">
    <div class="navbar-brand navbar-light">
      <a routerLink="../" class="float-left text-white">
        <i class="fas fa-chevron-left"></i>
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="./" class="text-white">
        Choose Widget
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <ul class="list-group" *ngFor="let type of widgetTypes">
    <li class="list-group-item border-0">
      <a [routerLink]="['../', widgetId]" class="text-blue" (click)="onNewWidget(type)">{{ type }}</a>
    </li>
  </ul>
</div>

<nav class="navbar fixed-bottom bg-primary">
  <div class="container-fluid">
    <div class="ml-auto">
      <a [routerLink]="['/user', userId]" class="text-white float-right">
        <i class="fas fa-user"></i>
      </a>
    </div>
  </div>
</nav>
