<header>
  <nav class="navbar fixed-top bg-primary">
    <div class="container-fluid">
      <p class="navbar-text float-left">
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget" class="navbar-link text-white">
          <span class="fas fa-chevron-left fontawsome_icon top-left"></span>
        </a>
        <a class="text-white text-bold" routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/new">
          Choose Widget
        </a>
      </p>
    </div>
  </nav>
</header>
<main>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/new/header">Header</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/new">Label</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/new">HTML</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/new">Text Input</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/new">Link</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/new">Button</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/new/image">Image</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/new/youtube">Youtube</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/new">Data Table</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/new">Repeater</a>
      </li>
    </ul>
  </div>
</main>
<app-page-footer [uid]="user.uid"></app-page-footer>

