body {
    width:100%;
    height:100%;
    min-height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

input.form-control {
    margin-bottom: 10px;
}

nav {
    background: lightgray;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.navbar-brand:hover {
    font-size: 20px;
    color: white;
}

main {
    height: 100%;
}

/*profile*/
#hideone {
    color: #337ab7;
}

#hideone:hover {
    text-decoration: none;
}


/*websites*/
.navbar-text {
    padding-top: 0;
}

.text-bold{
    font-weight: bold;
    font-size: 20px;
}

p.float-left {
    height: 20px;
    margin-top: 6px;
}

.top-left{
    font-size: 20px;
    margin-top: 5px;
    margin-right: 20px;
}

.top-right{
    margin-top: 10px;
    font-size: 20px;
}

.main-icon{
    font-size: 20px;
}

.bottom-right{
    margin-top: 10px;
    font-size: 20px;
}

li.list-group-item {
    border:none;
    line-height: 20px;
}

/*website-new*/

main > div.container-fluid {
    height:100%;
}

.colrow {
    width: 100%;
    height: 100%;
}

.right-form {
    border-left: #808080 2px solid;
}

a:hover {
    text-decoration: none;
}

a.top-left {
    margin-top:10px;
}

/*widget-list*/
.widget-div {
    margin-top: 15px;
    min-height: 20px;
    line-height: 20px;
}

.widget-icon-special {
    background-color: white;
}

.widget-div > img {
    width: 80%;
    height: 60%;
}

.bottom-left{
    margin-top: 10px;
    font-size: 20px;
}
