<header>
  <nav class="navbar fixed-top bg-primary ">
    <div class="container-fluid">
      <p class="navbar-text float-left">
        <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page" class="navbar-link text-white">
          <span class="fas fa-chevron-left fontawsome_icon top-left"></span>
        </a>
        <a class="text-white text-bold" routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget">
          Widgets
        </a>
      </p>
      <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/new" class="navbar-link navbar-text float-right text-white">
        <span class="fas fa-plus fontawsome_icon top-right">
        </span>
      </a>
    </div>
  </nav>
</header>
<main>
  <div class="container">
    <div appSortable (newIndexes)="reorderItems($event)">
    <div  *ngFor="let widget of widgets" >
      <div [ngSwitch]="widget.type">
        <div class="widget-div" *ngSwitchCase="'HEADING'" >
          <h1 [style.font-size]="checkStyle(widget.size + 'px')">
            <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/{{widget.widgetId}}/edit/header" class="float-right">
              <span class="fas fa-cog fontawsome_icon main-icon"></span>
            </a>
            {{widget.text}}
          </h1>
        </div>
        <div class="widget-div" *ngSwitchCase="'IMAGE'">
          <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/{{widget.widgetId}}/edit/image" class="float-right">
            <span class="fas fa-cog fontawsome_icon main-icon">
            </span>
          </a>
          <img class="img-responsive img-rounded" [src]="checkVideoUrl(widget.url)" [style.width]="checkStyle(widget.width)">
        </div>
        <div class="widget-div embed-responsive embed-responsive-16by9" *ngSwitchCase="'YOUTUBE'">
            <iframe width="640" height="360" [src]="checkVideoUrl(widget.url)" frameborder="0" allowfullscreen [style.width]="checkStyle(widget.width)">
            </iframe>
            <a routerLink="/profile/{{user.uid}}/website/{{website.websiteId}}/page/{{page.pageId}}/widget/{{widget.widgetId}}/edit/youtube" class="float-right widget-icon-special">
              <span class="fas fa-cog fontawsome_icon main-icon">
              </span>
            </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>
<footer>
  <nav class="navbar navbar-default fixed-bottom bg-primary">
    <div class="container-fluid float-left">
      <div class="float-left">
        <a href="#" class="navbar-link navbar-text text-white">
          <span class="fas fa-play fontawsome_icon bottom-left">
          </span>
        </a>
        <a href="#" class="navbar-link navbar-text text-white">
          <span class="fas fa-eye fontawsome_icon bottom-left">
          </span>
        </a>
      </div>
      <div class="float-right">
        <a routerLink="/profile/{{user.uid}}" class="navbar-link navbar-text text-white">
          <span class="fas fa-user fontawsome_icon bottom-right">
          </span>
        </a>
      </div>
    </div>
  </nav>
</footer>
